[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
litex = {git = "git+https://github.com/enjoy-digital/litex"}
litedram = {git = "git+https://github.com/enjoy-digital/litedram"}
litex-boards = {git = "git+https://github.com/litex-hub/litex-boards"}
crc = "*"

[dev-packages]

[requires]
python_version = "3.10"
